.hero_slide {
  display: flex;
  padding-top: 30px;
  gap: 10px;
  padding-left:80px;
}
.category_bar{
    padding-bottom: 10px;
}

.category_bar_title {
  padding: 7px 80px 7px 7px;
  background-color: red;
  font-weight: bold;
  color: white;
  margin-bottom: 0px;
}
.category_bar_name {
  background-color: antiquewhite;
  padding: 10px 10px 10px 10px;
}
.radiobutton{
    color: red;
}

.hero_mainheading {
    position: absolute;
    top: 14rem;
    left: 27rem;
}
.hero_img_size {
  width: 65rem;
  height: 25rem;
  padding-top: 15px;
}
.hero_heading {
  color: antiquewhite;
  font-size: 18px;
  font-style: italic;
}
.hero_heading1 {
  font-size: 25px;
  font-weight: bold;
}
.hero_heading2 {
  font-size: 22px;
  font-weight: bold;
}
.hero_button {
  background-color: red;
  padding: 7px 24px;
  border-style: none;
  color: white;
}
