.infocard{
    display: flex;
    gap: 40px;
    padding: 40px 20px;
    margin-left: 58px;
    

    
}
.infocard_one{
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
    text-wrap: wrap;
    width: 190px;
    height: auto;
    text-align: center;
    padding: 14px 22px;
    
}
.infoicon{
    color: red;
    font-size: 25px;
}
.infotitle{
    font-size: 18px;
    font-weight: bold;

}
.infodes{
    color:rgb(114, 111, 111);
    font-weight: 300;

}